#footer {
  width: 100%;
  height: auto;
  max-width: 1920px;
  margin-top: 185px;
  overflow-x: hidden;
  bottom: 0;
  background: linear-gradient(to left, #7c65a3, #317da5);
}
#footer .MobileFooterNav {
  display: none;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 10px;
}
#footer .MobileFooterNav > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
}
#footer .MobileFooterNav div {
  flex-wrap: nowrap;
}
#footer .MobileFooterNav ul {
  border: 1px solid white;
  padding: 10px;
  border-radius: 50px;
  text-align: center;
  flex-wrap: nowrap;
  flex: 0 1 auto;
  transition: 0.3s;
}
#footer .MobileFooterNav ul:hover {
  background: rgba(255, 255, 255, 0.2431372549);
  transform: scale(1.1);
}
#footer .MobileFooterNav ul a {
  color: white;
  transition: 0.3s ease-in-out;
  flex-wrap: nowrap;
  padding: 0;
  font-size: 14px;
}
#footer .MobileFooterNav ul a:hover {
  color: #abebea;
}
#footer .footerTitle {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  color: white;
}
#footer .wrap {
  width: 100%;
}
#footer .firstRow {
  font-size: 0;
  background-color: rgb(255, 253, 248);
  max-width: 1920px;
  background-position: center;
  background-size: cover;
}
#footer .firstRow img {
  width: 100%;
}
#footer .secondRow {
  max-width: 1920px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
  max-width: 1750px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding-bottom: 0;
}
#footer .iconBox {
  margin-top: 10px;
}
#footer .iconBox a {
  padding: 3px;
}
#footer .iconBox img {
  width: 30px;
  transition: filter 1s ease-in-out;
}
#footer .iconBox img:hover {
  filter: invert(40%) sepia(40%) saturate(900%) hue-rotate(1450deg) brightness(116%) contrast(101%);
}
#footer .footerNav {
  display: flex;
  gap: 15px;
  margin-top: 8px;
  padding: 15px 30px;
  border-radius: 50px;
  border: 1px solid white;
  display: none;
}
#footer .footerNav a {
  color: white;
  transition: 0.3s ease-in-out;
}
#footer .footerNav a:hover {
  color: #abebea;
}
#footer .logoBox {
  width: 450px;
  width: 310px;
}
#footer .logoBox img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
#footer .joinUs {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}
#footer .joinUs a {
  color: white;
  transition: 0.3s ease-in-out;
}
#footer .joinUs a:hover {
  color: #abebea;
}
#footer .goTopBox .o {
  margin-top: -50px;
  margin-left: -75px;
  width: 20px;
  position: absolute;
  transition:
    transform 0.7s,
    filter 0.7s;
}
#footer .goTopBox a {
  background-color: #fff;
  font-size: 12px;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
}
#footer .goTopBox a:hover {
  background: linear-gradient(#e08bae, #6797c8);
  color: white;
}
#footer .goTopBox a:hover .goTopArrow {
  filter: contrast(100);
  color: white;
}
#footer .goTopBox a:hover p {
  color: white;
}
#footer .goTopBox a:hover .o {
  transform: translateX(38px) translateY(-18px);
}
#footer .goTopBox .goTop p {
  margin-top: 35px;
  color: black;
}
#footer .goTopBox .goTopArrow {
  width: 25px;
  position: absolute;
  filter: contrast(0);
  margin-top: 10px;
  top: 10px;
}
#footer .goTopBox .effect-3 {
  stroke: white;
  stroke-width: 2;
  stroke-dasharray: 20 270;
  stroke-dashoffset: 400;
  transition:
    stroke-width 2s,
    stroke-dasharray 2s,
    stroke-dashoffset 1.5s;
}
#footer .goTopBox:hover .effect-3 {
  stroke-width: 5px;
  stroke-dasharray: 340 0;
  stroke-dashoffset: 0;
}
#footer svg {
  position: absolute;
  z-index: -1;
}
#footer .thirdRow {
  max-width: 1750px;
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#footer .thirdDeco {
  position: absolute;
  padding-left: 20px;
  left: 0;
  top: -7px;
}
#footer .openTime {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  position: relative;
}
#footer .lineBox {
  max-width: 1700px;
  width: 100%;
}
#footer .lineBox .line {
  margin-top: 10px;
  margin-bottom: 22px;
  width: 100%;
  height: 1px;
  background-color: white;
}
#footer .faq {
  display: none;
}
#footer .mobileFaq {
  display: flex;
  flex-direction: column;
}

.mobileFaq {
  display: none;
}

.mobileContact {
  display: none;
  display: flex;
  flex-direction: column;
}

.circle {
  position: absolute;
  z-index: -1;
}

.contact {
  display: none;
}

.thirdDeco {
  display: none;
}

@media (max-width: 1180px) {
  #footer {
    margin-bottom: 0;
  }
  #footer .middleBox {
    left: auto;
  }
  #footer .mobileFaq a {
    padding: 5px;
  }
  #footer .mobileContact a {
    padding: 5px;
  }
}
