$color_1: white;
$color_2: #fff;
$background-color_1: #73748c;
$background-color_2: #ccc;
//
$babyblue: #7fadf2;
$white: #fff;

// mixins
@mixin transform($translate) {
	-webkit-transform: $translate;
	-moz-transform: $translate;
	-ms-transform: $translate;
	-o-transform: $translate;
	transform: $translate;
}

@mixin transition($transition) {
	-webkit-transition: $transition;
	-moz-transition: $transition;
	-ms-transition: $transition;
	-o-transition: $transition;
	transition: $transition;
}

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap");

/* aboutUsAreaEnd */
/* header */
* {
	font-family: "Noto Sans TC", "Arial", sans-serif;
	.wrap {
		width: 100%;
		// max-width: 1385px;
		// display: flex;
		justify-content: center;
		align-items: center;
	}
	.title {
		font-size: 36px;
		font-weight: 900;
		color: #000;
	}
	.btnMore {
		a {
			background-color: #73748c;
			border: none;
			border-radius: 30px;
			color: #fff;
			font-size: 15px;
			padding: 20px 70px;
			text-decoration: none;
			position: relative;
			overflow: hidden;

			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				border: 4px solid #73748c;
				transition: all 0.3s ease-in-out;
				box-sizing: border-box;
				border-radius: 30px;
			}

			&:hover::before,
			&:focus::before {
				border-radius: 40px;
				top: calc(-9px);
				left: calc(-9px);
				right: calc(-9px);
				bottom: calc(-9px);
				border-color: #758694;
				transition: 0.4s ease-in-out;
			}
		}
	}
	.leftBack,
	.rightBack {
		a {
			color: $color_1;
			background-color: $background-color_1;
			padding: 20px 70px;
			border-radius: 30px;
			font-size: 16px;
			border: none;
			display: block;
			text-decoration: none;
			position: relative;
			overflow: hidden;

			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				transition: all 0.3s ease-in-out;
				box-sizing: border-box;
				border-radius: 30px;
			}
			&:hover::before,
			&:focus::before {
				border-radius: 40px;
				top: calc(-9px);
				left: calc(-9px);
				right: calc(-9px);
				bottom: calc(-9px);
				border-color: #758694;
				transition: 0.4s ease-in-out;
			}
		}
	}
	/* bannerArea */
	#banner {
		width: 100%;
		margin: 0;
		margin-top: 50px;
		padding: 0;
		.wrap {
			max-width: 1920px;
			max-height: 1080px;
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.bannerImgBox {
			width: 100%;
			img {
				width: 100%;
				object-fit: cover;
				display: block;
			}
		}
		.logoBox {
			max-width: 760px;
			width: 100%;
			position: absolute;
			top: 20%;
			img {
				width: 100%;
				object-fit: cover;
				display: block;
			}
		}
	}
	/* bannerArea */

	// weatherBox
	.weatherBox {
		display: flex;
		position: absolute;
		right: 1%;
		bottom: 1%;
		width: 40%;
		height: 15%;
		background-color: #f0f4f8;
		padding: 20px 0 20px 40px;
		overflow: hidden;
		border-radius: 18px;
		transition: 0.3s ease-in-out;
		.weather {
			text-align: center;
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			width: 100%;

			img {
				width: 25%;
				// margin-top: 30px;
			}
			.rightBox {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				width: 20%;
			}
			.temperature {
				position: relative;
				color: #000;
				font-size: 3rem;
				font-weight: 500;
				// margin-top: 30px;
				// margin-left: -16px;
			}
			.description {
				color: #000;
				font-size: 22px;
				font-weight: 500;
				text-transform: capitalize;
			}
			.detail {
				width: 50%;
				display: flex;
				flex-direction: column;
				// justify-content: space-between;
				// margin-top: 30px;
				.humidity,
				.wind {
					display: flex;
					align-items: center;
					width: 50%;
					height: 100px;
				}
				.wind {
					// margin-right: 55px;
					margin-top: -30px;
				}
				i {
					color: #000;
					font-size: 26px;
					margin-right: 10px;
					margin-top: 6px;
				}
				span {
					color: #000;
					font-size: 22px;
					font-weight: 500;
				}
				p {
					color: #000;
					font-size: 14px;
					font-weight: 500;
				}
			}
		}

		.notFound {
			width: 100%;
			text-align: center;
			margin-top: 50px;
			scale: 0;
			opacity: 0;
			display: none;
			img {
				width: 70%;
			}
			p {
				color: #000;
				font-size: 22px;
				font-weight: 500;
				margin-top: 12px;
			}
		}
		.weather,
		.detail {
			scale: 0;
			opacity: 0;
		}
		.fadeIn {
			animation: 0.5s fadeIn forwards;
			animation-delay: 0.5s;
		}
		@keyframes fadeIn {
			to {
				scale: 1;
				opacity: 1;
			}
		}
	}
	@media (max-width: 1150px) {
		.weatherBox {
			.weather {
				.temperature {
					font-size: 2rem;
				}
				img {
					width: 20%;
				}
				.detail i {
					font-size: 1rem;
				}
			}
		}
	}
	@media (max-width: 992px) {
		.weatherBox {
			padding: 2px;
			flex-direction: column;
			width: 18%;
			height: 30%;
			.weather {
				img {
					width: 50%;
				}
				.rightBox {
					width: 50%;
				}
				.detail {
					display: none;
				}
				.temperature,
				.description {
					font-size: 1rem;
				}
			}
		}
	}
	@media (max-width: 568px) {
		.weatherBox {
			height: 34%;
			padding: 2px;
		}
	}
	@media (max-width: 380px) {
		.weatherBox {
			height: 36%;
			.temperature,
			.description {
				font-size: 0.7rem;
			}
		}
	}
}

// weatherBox

/* quickLinkBox */
#quickLinkBox {
	max-width: 1920px;
	width: 100%;
	display: flex;
	.qLink {
		position: relative;
		width: calc(1920px / 4);
		height: 200px;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			font-size: 0;
			display: block;
			opacity: 0.8;
		}
		p {
			position: absolute;
			color: $color_2;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			font-size: 24px;
		}
	}
	.imgHover a img {
		opacity: 1;
		-webkit-transition: 0.3s ease-in-out;
		transition: 0.3s ease-in-out;
	}
	.imgHover a:hover img {
		opacity: 0.7;
	}
}

/* quickLinkBox */

/* aboutUsArea */
#aboutUs {
	width: 100%;
	margin-top: 70px;
	margin-bottom: 70px;
	background-color: #fffdf8;
	.wrap {
		max-width: 1500px;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.leftBox {
		width: 50%;
		position: relative;
	}
	.cardList {
		display: flex;
		align-items: flex-start;
		justify-content: center;
		flex-wrap: wrap;
		cursor: pointer;

		.cardOne {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			width: 50%;
			gap: 105px;
			padding-top: 35px;
		}
		.cardTwo {
			padding-top: 240px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			width: 50%;
			gap: 105px;
		}
		.aboutItem {
			text-align: center;
		}

		.front,
		.back {
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 50%;
			width: 250px;
			height: 250px;
			transform-style: preserve-3d;
			backface-visibility: hidden;
			transition: all 0.3s ease-in-out;
		}
		.front {
			background: linear-gradient(#fcd6e3, #9894e1);
			z-index: 9;
			text-align: center;
			transform: rotateX(0deg) rotateY(0deg);
			position: absolute;
			box-shadow: 5px 10px teal;
		}
		.back {
			flex-direction: column;
			background: linear-gradient(#fcd6e3, #9894e1);
			opacity: 0.6;
			z-index: 10;
			transform: rotateY(-180deg);
			line-height: 1.5;
			font-weight: 900;
			border: 10px solid #9894e1;
			border-radius: 50%;
			width: 240px;
			box-shadow:
				0 0 15px rgba(0, 0, 0, 0.1),
				inset 0 0 0 5px rgba(255, 255, 255, 0.5);
			height: 240px;
			p {
				color: #000;
				font-size: 22px;
				position: absolute;
				letter-spacing: 1px;
			}
		}
		.aboutItem.flip .front {
			z-index: 9;
			transform: rotateY(180deg);
		}
		.aboutItem.flip .back {
			z-index: 10;
			transform: rotateX(0deg) rotateY(0deg);
		}
		.btnMore {
			margin-top: 15px;
		}
		// .front img {
		// 	width: 110px;
		// }
	}
	.rightBox {
		width: 50%;
		padding-bottom: 70px;
		padding-right: 30px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		.title {
			padding-bottom: 45px;
		}
		.imgBox {
			max-width: 700px;
			width: 100%;
			img {
				width: 100%;
				object-fit: cover;
			}
		}
	}
}

@media (max-width: 1180px) {
	#quickLinkBox {
		display: none;
	}
	#aboutUs {
		.wrap {
			display: flex;
			flex-direction: column-reverse;
		}
		.leftBox {
			width: 80%;
			padding: 0 15px;
		}
		.rightBox {
			width: 90%;
			padding: 0 15px;
		}
		.cardList {
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.cardList .cardTwo {
			padding-top: 35px;
			gap: 30px;
		}
		.cardList .cardOne {
			gap: 30px;
		}
		.front img {
			width: 80px;
		}
		.cardList .btnMore {
			justify-content: center;
			padding-top: 30px;
		}
	}
}
@media (max-width: 700px) {
	#aboutUs {
		.cardList .front {
			width: 200px;
			height: 200px;
		}
		.cardList .back {
			width: 190px;
			height: 190px;
		}
	}
}
@media (max-width: 550px) {
	#aboutUs {
		.cardList .front {
			width: 160px;
			height: 160px;
		}
		.cardList .back {
			width: 150px;
			height: 150px;
		}
		.front img {
			width: 70px;
		}
	}
}
@media (max-width: 440px) {
	#aboutUs {
		.cardList .front {
			width: 130px;
			height: 130px;
		}
		.cardList .back {
			width: 120px;
			height: 120px;
			p {
				font-size: 12px;
			}
		}
		.front img {
			width: 60px;
		}
	}
}
/* aboutUsArea */

// newsArea
#newsArea {
	width: 100%;
	overflow: hidden;
	.wrap {
		max-width: 200%;
		width: 200%;
		height: auto;
		margin: 0 auto;
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;
	}
	.newsBox {
		position: relative;
		width: 100%;
		display: flex;
		transform: translateX(-25%);
		overflow: hidden;
		transition: transform 1s ease;
	}

	.overlay {
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		z-index: 1;
		transform: translateY(-50%);
		margin: 0 auto;
		max-width: 520px;
		width: 100%;
		transition: transform 1s ease;

		&::before {
			content: "";
			width: 530px;
			height: 530px;
			border: 1.5px solid #d1d1d2;
			border-radius: 50%;
			position: absolute;
			top: 48%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
		&::after {
			content: "";
			width: 490px;
			height: 490px;
			border: 1.5px solid #d1d1d2;
			border-radius: 50%;
			position: absolute;
			top: 48%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		img {
			display: block;
			width: 90%;
		}

		.deco {
			position: absolute;
			font-size: 300px;
			top: 30%;
			right: -80%;
			z-index: -10;
			color: #e4e3e6;
			transition: 1s ease;
			-webkit-text-stroke: 2px #e4e3e6;
			font-weight: 900;
			opacity: 0.4;
			animation: wordAnimation 1.2s ease-in-out infinite alternate;
		}

		@keyframes wordAnimation {
			0% {
				transform: translateY(0px);
			}

			100% {
				transform: translateY(15px);
			}
		}
	}
	.leftBox {
		width: 50%;
		display: flex;
		position: relative;
		justify-content: center;
		align-items: center;
		padding: 70px 0;
		background: linear-gradient(#e08bae, #6797c8);

		.title {
			position: absolute;
			font-size: 90px;
			right: calc(25% - 135px);
			top: 5%;
			transition: 1s ease;
			color: #fffdf8;
		}

		span:nth-child(2) {
			left: 30%;
		}

		.btnShowLeft {
			position: absolute;
			right: 10%;
			bottom: 20px;
			z-index: 2;
			.toggleBtn {
				padding: 17px 20px;
				border-radius: 50%;
				padding: 17px 20px;
				border-radius: 50%;
				background-color: #ccc;
				border: none;
			}
		}
		.leftBack {
			visibility: hidden;
			position: absolute;
			right: calc(50% - 100px);
			bottom: 30px;
			visibility: hidden;
			z-index: 2;
		}
		.logoImgBox {
			width: 40%;
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			visibility: hidden;
		}

		.logoImgBox::before {
			content: "";
			width: 530px;
			height: 530px;
			border: 1.5px solid #d1d1d2;
			border-radius: 50%;
			position: absolute;
			top: 48%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
		.logoImgBox::after {
			content: "";
			width: 490px;
			height: 490px;
			border: 1.5px solid #d1d1d2;
			border-radius: 50%;
			position: absolute;
			top: 48%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
		.logoImgBox img {
			width: 520px;
		}
		.newsList .listBox {
			display: flex;
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			gap: 15px;
			visibility: hidden;
			.newsItem {
				width: 30%;
				margin: 50px auto 0 auto;
				text-align: center;
				position: relative;
				right: calc(25% - 3px);
				border-radius: 30px;
			}
		}
		// container
		.newsList {
			width: 50%;
			z-index: 1;
			text-align: center;
			position: relative;
			display: flex;
			gap: 20px;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			overflow-y: auto;
		}

		// 彈出視窗
		.listBox {
			position: fixed;
			top: 0;
			left: 50%;
			width: 420px;
			z-index: 99;
			visibility: hidden;
			backface-visibility: hidden;

			@include transform(translateX(-50%) translateY(-100%));

			@include transition(all 0.4s ease);
		}

		.newsItem {
			padding: 20px;
			text-align: left;
			background-color: $white;

			h2 {
				font-weight: 600;
			}

			h2,
			p {
				margin: 10px auto;
				max-width: 90%;
				line-height: 140%;
				color: #000;
			}
		}

		.listOutside {
			display: flex;
			gap: 20px;
			width: 60%;
			padding: 20px;
			border-radius: 20px;
			background: #fff;
			z-index: 10 !important;
			div:nth-child(1) {
				display: flex;
				justify-content: left;
				align-items: center;
				gap: 10px;
				margin-bottom: 10px;
				margin-top: 10px;

				span {
					background: linear-gradient(#7c65a3, #317da5);
					color: white;
					padding: 8px;
					border-radius: 10px;
				}
				p {
					color: black;
					font-weight: 700;
				}
			}
			div:nth-child(2) {
				display: flex;
				justify-content: left;
				align-items: center;
				gap: 10px;
			}
		}

		.modal-visible {
			visibility: visible;

			@include transform(translateX(-50%) translateY(0%));

			@include transition(all 0.3s ease);
		}

		// buttons
		.btnTrigger,
		.btnClose {
			cursor: pointer;
			font-family: "Lato", sans-serif;
			font-weight: 700;
			color: #fff;
			border-radius: 30px;
			border: none;
			background-color: #73748c;
		}

		.btnTrigger {
			width: 30px;
			height: 30px;
			display: flex;
			justify-content: center;
			align-items: center;
			@include transition(all 0.2s ease);

			&:active {
				margin: 2px 0 0 0;
				@include transition(all 0.2s ease);
			}
		}

		.btnClose {
			margin: 20px auto 0 auto;
			padding: 9px 20px 10px 20px;
			display: block;
			border: none;
			border-radius: 20px;

			&:hover {
				color: $white;
				border: 3px solid $babyblue;
				background-color: #73748c;
			}
		}

		// full screen overlay
		.modal-overlay {
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			position: absolute;
			z-index: 1;

			visibility: hidden;
			opacity: 0;

			background-color: rgba($babyblue, 0.5);

			@include transition(all 0.4s ease);
		}

		.overlay-visible {
			visibility: visible;
			opacity: 1;
			@include transition(all 0.4s ease);
		}
	}
	.rightBox {
		width: 50%;
		display: flex;
		position: relative;
		padding: 70px 0;

		.title {
			position: absolute;
			font-size: 90px;
			left: calc(25% - 180px);
			top: 5%;
			color: #73748c;
		}

		.btnShowRight {
			position: absolute;
			left: 10%;
			bottom: 20px;
			z-index: 2;
			.toggleBtn {
				padding: 17px 20px;
				border-radius: 50%;
				border: none;
				background-color: #ccc;
			}
		}
		.rightBack {
			position: absolute;
			left: calc(50% - 100px);
			bottom: 30px;
			visibility: hidden;
			z-index: 1;
		}
		.btnShowRight:hover ~ .rightBox {
			background-color: #000;
		}
		.logoImgBox {
			width: 40%;
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			visibility: hidden;
		}
		.logoImgBox::before {
			content: "";
			width: 530px;
			height: 530px;
			border: 1.5px solid #d1d1d2;
			border-radius: 50%;
			position: absolute;
			top: 48%;
			left: 65%;
			transform: translate(-50%, -50%);
		}
		.logoImgBox::after {
			content: "";
			width: 490px;
			height: 490px;
			border: 1.5px solid #d1d1d2;
			border-radius: 50%;
			position: absolute;
			top: 48%;
			left: 65%;
			transform: translate(-50%, -50%);
		}
		.logoImgBox img {
			width: 520px;
			padding-left: 196px;
		}

		.eventList {
			width: 50%;
			right: 0;
			padding-right: 100px;
			display: flex;
			justify-content: center;
			align-items: center;
			z-index: 2;
			visibility: hidden;

			swiper-container {
				width: 350px;
				height: 450px;
			}
			swiper-slide {
				display: flex;
				flex-direction: column;
				justify-content: center;
				border-radius: 20px;
				padding: 28px;
				border: 2px solid black;
				.content {
					margin-left: 30px;
					.upperContent {
						margin-bottom: 20px;
						img {
							width: 300px;
							height: 250px;
							border-radius: 10px 40px 10px 40px;
							position: relative;
						}
						.location {
							display: flex;
							justify-content: center;
							align-items: center;
							background: linear-gradient(#7c65a3, #317da5);
							color: #fff;
							position: absolute;
							font-size: 20px;
							right: 0;
							margin-top: -25px;
							margin-right: 48px;
							padding: 10px 20px;
							border-radius: 10px;
							img {
								width: 20px;
								height: 20px;
								margin-right: 5px;
							}
						}
					}
					.belowContent {
						.eventName {
							font-size: 20px;
							margin-bottom: 10px;
							padding-left: 20px;
						}
						.eventDes {
							font-size: 16px;
							padding: 0 20px;
							line-height: 1.5;
						}
						.btnMore {
							margin-top: 38px;
							a {
								padding: 20px 115px;
							}
						}
					}
				}
			}

			swiper-slide:nth-child(odd) {
				background: white;
				p {
					color: #000;
				}
			}
			swiper-slide:nth-child(even) {
				background: white;
				p {
					color: #000;
				}
			}
		}
	}
	@media (max-width: 1440px) {
		.newsBox {
			padding: 0;
			height: 700px;
		}
	}

	@media (max-width: 770px) {
		.overlay {
			transform: translateX(0%) translateY(-50%) scale(0.7);
		}
		.leftBox .title,
		.rightBox .title {
			margin-bottom: 3%;
		}
		.btnShowRight,
		.btnShowLeft,
		.rightBack,
		.leftBack {
			margin-bottom: 5%;
		}
	}
	@media (max-width: 880px) {
		.rightBox .eventList {
			position: absolute;
			right: 15%;
			top: 15%;
		}
		.rightBox .title {
			font-size: 60px;
			left: calc(25% - 120px);
		}
		.leftBox .title {
			font-size: 60px;
			right: calc(25% - 90px);
		}
		.leftBox .listOutside {
			width: 70%;
			flex-direction: column;
		}
	}
	@media (max-width: 570px) {
		.leftBox .title {
			font-size: 40px;
			right: calc(25% - 60px);
		}
		.rightBox .title {
			font-size: 40px;
			left: calc(25% - 80px);
		}
		.rightBox .eventList {
			position: absolute;
			right: 10%;
			top: 14%;
			transform: scale(0.7);
		}
	}
}
// newsAreaEnd

//
#parkMap {
	width: 100%;
	margin-top: 50px;
	margin-bottom: 70px;
	background-color: #fffdf8;
	.wrap {
		max-width: 1200px;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.parkMapBox {
		width: 100%;
	}
	.titleBox {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 60px;
	}
	.upperBox {
		display: flex;
		// margin-bottom: 20px;
		width: 100%;
		.map {
			width: 75%;
			max-width: 800px;
			img {
				width: 100%;
			}
		}
		.mapCtrl {
			width: 25%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: 50px;
			.btnControl {
				a {
					width: 100%;
					text-decoration: none;
					color: #fff;
					background-color: #73748c;
					padding: 10px 50px;
					border-radius: 20px 0 20px 0;
					font-size: 16px;
					cursor: pointer;
				}
				&:nth-child(1) a {
					background-color: #a4ce95;
				}
				&:nth-child(2) a {
					background-color: #6196a6;
				}
				&:nth-child(3) a {
					background-color: #5f5d9c;
				}
			}
		}
	}
	.belowBox {
		display: flex;
		padding-right: 20px;
		padding-left: 20px;
		.cardBox {
			display: flex;
			flex-direction: column;
			width: 100%;
		}
		.itemBox {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			width: 100%;
		}
		.btnMore {
			margin-top: 30px;
			a {
				padding: 20px 70px;
			}
		}
		.arrowBox {
			display: flex;
		}
		.card {
			border: 1px solid #ccc;
			border-radius: 8px;
			margin: 10px;
			padding: 20px;
			width: 150px;
			text-align: center;
			transition:
				transform 0.3s,
				box-shadow 0.3s;
			border-radius: 20px 0 20px 20px;
		}
		.card img {
			width: 100px;
			border-radius: 20px 0 20px 20px;
			margin-bottom: 10px;
		}

		.card:hover {
			transform: translateY(-10px);
			background: linear-gradient(#fcd6e3, #9894e1);
			box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
			color: #fff;
		}
		.textBox {
			margin-top: 15px;
			.facilityName {
				font-size: 18px;
				color: #000;
				text-align: center;
			}
		}
	}
	@media (max-width: 920px) {
		.upperBox {
			width: 100%;
			flex-direction: column;
			.mapCtrl {
				width: 80%;
				display: flex;
				flex-direction: row;
				margin-bottom: 30px;
				gap: 20px;
			}
			.btnControl a {
				padding: 10px 35px;
			}
		}
	}
	@media (max-width: 670px) {
		.upperBox {
			.mapCtrl {
				display: flex;
				flex-direction: column;
				gap: 40px;
				margin-top: 15px;
			}
		}
	}
}
