.index {
  margin-top: 130px;
  height: 800px;
}

.register-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container,
.register-image {
  flex: 1;
}
.register-image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.register-image img {
  width: 400px;
  height: auto;
  border-radius: 10px;
  margin: 20px;
}
.form-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.form-row .form-group {
  width: 100%;
}
.form-group {
  margin-bottom: 20px;
}
.register-title {
  color: var(--02, #73748c);
  margin: 20px;
  font-family: "Noto Sans TC";
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 1rem;
  color: #73748c;
}

.inputBlock {
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  border: 1px solid #d0d0d0;
  border-radius: 8px;
  background-color: #f0f5ff;
  box-sizing: border-box;
  font-size: 16px;
  border-radius: 50px;
}
.login-href {
  color: rgb(76, 0, 255);
}
.inputBlock::content {
  border: 1px solid #d0d0d0;
}
.inputError {
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  border: 1px solid #d67376;
  background-color: #e0c6c72f;
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 16px;
  border-radius: 50px;
}
.inputBlock:focus {
  outline: none;
  border: 1px solid black;
}
.inputError-message {
  color: #d67376;
  font-size: 12px;
  margin-top: 5px;
}
.submit-btn,
a.submit-btn {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: none;
  font: inherit;
  color: inherit;
  line-height: normal;
  width: 150px;
  height: 50px;
  border: 1px solid #376c93;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-weight: 400;
  background-color: #fff;
  border-radius: 50px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  cursor: pointer;
  text-decoration: none;
}

.submit-btn:hover {
  color: #fff;
  border: none;
  background: var(--nav-17, linear-gradient(270deg, #7c65a3 0%, #317da5 100%));
}
.form-actions {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.login-link {
  color: #73748c;
  text-decoration: none;
}
.error-message {
  color: #d67376;
  font-size: 16px;
}
.checkbox {
  margin: 0;
}
.checkbox label {
  margin-left: 5px;
}
.checkbox .inputError-message {
  color: #d67376;
  font-size: 12px;
}
