.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
  margin-top: 110px;
}

.main .breadcrumb {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 50px;
}
.main .breadcrumb div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.main .breadcrumb div img {
  width: 50%;
  height: auto;
}
.main .breadcrumb .breadcrumbArrow {
  animation: sway 2s ease-in-out infinite;
}
.main .breadcrumb .activeNow {
  background: linear-gradient(to bottom right, #b0f1cf, #9894e1);
}
.main .breadcrumb .activeNow img {
  filter: brightness(0) invert(1);
}
.main .breadcrumb .breadcrumbArrow {
  width: 20px;
  height: auto;
}
