$color1: white;
$backgroundColor1: rgba(209, 209, 210, 0.6);

.mapPage {
	.logoArea {
		margin-top: 150px;
		width: 100%;
		.divOutside {
			width: 100%;
			display: flex;
		}
		#imgLogoArea {
			width: 700px;
			margin: 0 auto;
		}
		.divPageName {
			margin: 0 auto;
			width: 700px;
			display: flex;
			justify-content: center;
			h3 {
				font-size: 2rem;
				margin: 0;
			}
		}
		.linePageName {
			width: 20%;
			height: 50%;
			border-bottom: 3px solid black;
			&:first-of-type {
				margin: 0 20px 0 auto;
			}
			&:last-of-type {
				margin: 0 auto 0 20px;
			}
		}
		@media screen and (max-width: 720px) {
			display: none;
		}
	}
	#interactiveMap {
		position: relative;
		// border: 1px red solid;
		width: 100%;
		height: 100%;
		@media screen and (max-width: 720px) {
			overflow: scroll;
		}
		img {
			@media screen and (max-width: 720px) {
				max-width: 1000%;
				// transform: scale(1.2);
				display: block;
				height: 150vh;
				object-fit: cover;
				object-position: center;
			}
		}
		#btnArea {
			margin: 20px auto;
			padding: 20px;
			border-radius: 65px;
			background-color: $backgroundColor1;
			box-shadow: inset -3px 6px 5px rgba(255, 255, 255, 0.39),
				-3px 4px 5px rgba(0, 0, 0, 0.25);
			backdrop-filter: blur(8px);
			position: absolute;
			bottom: 15%;
			left: 50%;
			transform: translate(-50%, -50%);
			display: flex;
			justify-content: space-around;
			svg {
				color: $color1;
				margin: 0 3px;
				cursor: pointer;
				&:hover {
					animation: iconHover 0.8s;
				}
				@keyframes iconHover {
					0% {
						transform: translateX(0) rotate(0deg);
					}
					20% {
						transform: translateX(3px) rotate(5deg);
					}
					40% {
						transform: translateX(-1px) rotate(-5deg);
					}
					60% {
						transform: translateX(3px) rotate(5deg);
					}
					80% {
						transform: translateX(-1px) rotate(-5deg);
					}
					100% {
						transform: translateX(0) rotate(0deg);
					}
				}
			}
			@media screen and (max-width: 720px) {
				position: fixed;
			}
			@media screen and (max-width: 576px) {
				margin: 5px;
				padding: 10px;
			}
		}
		.mapPointContainer {
			// border: 1px solid black;
			position: absolute;
			// top: 0%;
			// left: 0%;
			.svgContainer {
				width: 50px;
				height: 65px;
				position: relative;
				background-image: url('./mapPoint.svg');
				@keyframes svgHover {
					0% {
						transform: translateX(0) rotate(0deg) scale(1);
					}
					20% {
						transform: translateX(3px) rotate(5deg) scale(1.2);
					}
					40% {
						transform: translateX(-3px) rotate(-5deg) scale(1.2);
					}
					60% {
						transform: translateX(3px) rotate(5deg) scale(1.2);
					}
					80% {
						transform: translateX(-3px) rotate(-5deg) scale(1.2);
					}
					100% {
						transform: translateX(0px) rotate(0deg) scale(1);
					}
				}
				&:hover {
					animation: svgHover 0.8s;
					background-image: url('./mapPointHover.svg');
				}
				svg {
					font-size: 30px;
					color: $color1;
					position: absolute;
					top: 8px;
					left: 8px;
				}
			}
		}
		// #view_fall{
		// 	top:;
		// 	left:;
		// }
		#VR_maze {
			top: 10%;
			left: 30%;
		}
		#view_garden {
			top: 10%;
			left: 35%;
		}
		#view_forest {
			top: 10%;
			left: 40%;
		}
		#shop_restaurant_sky {
			top: 15%;
			left: 10%;
		}
		#shop_cafe_dream {
			top: 5%;
			left: 5%;
		}
		#theater_sea {
			top: 20%;
			left: 60%;
		}
		#view_sea_tunnel {
			top: 15%;
			left: 62%;
		}
		#facility_rainbow {
			top: 10%;
			left: 90%;
		}
		#VR_coral {
			top: 8%;
			left: 80%;
		}
		#shop_restaurant_sea {
			top: 8%;
			left: 85%;
		}
		#facility_river {
			top: 40%;
			left: 60%;
		}
		#facility_sky_tower {
			top: 35%;
			left: 65%;
		}
		#facility_carousel {
			top: 40%;
			left: 85%;
		}
		#facility_roller_coaster {
			top: 50%;
			left: 90%;
		}
		#facility_wheel {
			top: 80%;
			left: 70%;
		}
		#shop_cafe_light {
			top: 70%;
			left: 85%;
		}
		#shop_bar {
			top: 30%;
			left: 30%;
		}
		#toilet {
			top: 50%;
			left: 50%;
		}
		#visitor_center {
			top: 50%;
			left: 50%;
		}
		#shop_shopping {
			top: 40%;
			left: 5%;
		}
		#port {
			top: 60%;
			left: 5%;
		}
		#ticket_center {
			top: 50%;
			left: 6%;
		}
		#medical_station {
			top: 50%;
			left: 55%;
		}
		#bus_station {
			top: 50%;
			left: 20%;
		}
		#room_center {
			top: 80%;
			left: 60%;
		}
		#room_grassland {
			top: 85%;
			left: 70%;
		}
		#room_second {
			top: 85%;
			left: 40%;
		}
		#room_third {
			top: 80%;
			left: 30%;
		}
	}
}
