body {
  font-family: "Noto Sans TC", sans-serif;
  background-color: #f8f9fa;
  color: #73748c;
}

.index {
  margin-top: 150px;
  margin-bottom: 0px;
}

.login-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-image,
.login-form {
  flex: 1;
}
.login-image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-image img {
  width: 400px;
  height: auto;
  border-radius: 10px;
  margin: 20px;
}
.form-group {
  display: block;
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  rgin-bottom: 5px;
  font-size: 1rem;
  color: #73748c;
}

.form-group .inputError {
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  border: 1px solid #d67376;
  background-color: #e0c6c72f;
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 16px;
  border-radius: 50px;
}

.inputBlock {
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  border: 1px solid #d0d0d0;
  border-radius: 8px;
  background-color: #f0f5ff;
  box-sizing: border-box;
  font-size: 16px;
  border-radius: 50px;
}
.inputBlock::content {
  border: 1px solid #d0d0d0;
}

.inputBlock:focus {
  outline: none;
  border: 1px solid black;
}
.form-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.button-group {
  display: flex;
  margin: 0px;
  gap: 10px; /* 調整按鈕之間的間距 */
}

.submit-btn,
a.submit-btn {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: none;
  font: inherit;
  color: inherit;
  line-height: normal;
  width: 150px;
  height: 50px;
  border: 1px solid #376c93;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-weight: 400;
  background-color: #fff;
  border-radius: 50px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}

.submit-btn:hover {
  color: #fff;
  border: none;
  background: var(--nav-17, linear-gradient(270deg, #7c65a3 0%, #317da5 100%));
}
.g-recaptcha {
  width: 0%;
  margin: 0px;
  display: flex;
  justify-content: left;
}
.message-container {
  display: flex;
  justify-content: left;
  align-items: left;
  margin: 10px;
}
.inputError-message {
  color: #d67376;
  font-size: 12px;
  margin-top: 5px;
}
.error-message {
  color: #d67376;
  font-size: 12px;
  margin: 0 5px;
}

/* Responsive design */
@media (max-width: 768px) {
  .login-container {
    flex-direction: column;
    margin: 20px;
  }

  .login-image,
  .login-form {
    width: 100%;
  }

  .login-image {
    display: none;
  }
}
