.restaurantContainer {
  margin: 0;
}
.banner {
  background: url("/restaurant/Dreamweaver Cafe.png") center/cover no-repeat;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  position: relative;
  margin-top: -150px;
}

.bannerContainer {
  position: absolute;
  bottom: 50px;
  text-align: center;
}

.banner h1 {
  font-weight: bold;
  margin: 5px;
}

.logoContainer img {
  width: 40%;
}

/* 輪播 */
/* .carouselContainer {
  perspective: 1000px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: -20px;
} */

.carousel {
  display: flex;
  transition: transform 0.5s ease;
}

.carouselItem {
  position: relative;
  margin: 0 20px;
}

.carouselImg {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.carouselImg:hover {
  opacity: 0.7;
  transform: scale(1.1);
}

.carouselText {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  width: 130px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* 主內容佈局 */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 50px 100px;
}

.sectionContainer {
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px;
}

.sectionContainer p {
  color: #000;
}

.imageContainer {
  position: relative;
  width: 300px;
  height: 300px;
  margin-right: 30px;
  margin-left: 60px;
}

.rightAlign {
  text-align: right;
}

.rightAlign > p:nth-of-type(1) {
  margin-left: auto;
  max-width: 500px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  margin-bottom: 20px;
}

.rightItem {
  display: flex;
  justify-content: flex-end;
}

.image1,
.image2 {
  position: absolute;
  width: 200px;
  height: 230px;
  border-radius: 8px;
  object-fit: cover;
}

.image1 {
  top: -20px;
  left: -20px;
}

.image2 {
  bottom: -20px;
  right: -20px;
}

.contentContainer {
  flex: 1;
  margin-left: 40px;
}

.contentContainer h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.contentContainer p {
  max-width: 500px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  margin-bottom: 20px;
}

.businessHourstime {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.businessHourstime p {
  margin: 0;
  font-size: 16px;
}

.timeAndBtn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.timeAndBtn p {
  font-size: 16px;
  margin: 0;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #2d00c0;
  color: white;
  text-decoration: none;
  border-radius: 20px;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #555;
}

/* 縮小 */
@media (max-width: 768px) {
  .carouselContainer {
    display: none;
  }

  .sectionContainer {
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
  }

  .imageContainer,
  .contentContainer {
    margin: 20px 0;
    width: 100%;
    height: auto;
  }

  .contentContainer {
    margin-left: 0;
    text-align: center;
  }

  .image1,
  .image2 {
    position: static;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
}
