$color_1: white;
$background-color_1: #2d00c0;
$background-color_2: #555;
@import "../../components/reset.scss";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap");

.restaurantPage {
	font-family: "Noto Sans TC", "Arial", sans-serif;
	/* banner */
	.banner {
		height: 80vh;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		color: $colorSvg;
		position: relative;
		margin-top: 0px;
		img {
			object-fit: cover;
			width: 100%;
			height: inherit;
		}
		.bannerContainer {
			height: 100%;
			position: absolute;
			bottom: 50px;
			text-align: center;
			.logoArea {
				margin-top: 300px;
				width: 100%;
				.divOutside {
					width: 100%;
					display: flex;
				}
				#imgLogoArea {
					width: 700px;
					margin: 0 auto;
				}
				.divPageName {
					margin: 0 auto;
					width: 700px;
					display: flex;
					justify-content: center;
					h3 {
						font-size: 2rem;
						margin: 0;
					}
				}
				.linePageName {
					width: 20%;
					height: 50%;
					border-bottom: 3px solid $colorSvg;
					&:first-of-type {
						margin: 0 20px 0 auto;
					}
					&:last-of-type {
						margin: 0 auto 0 20px;
					}
				}
				@media screen and (max-width: 720px) {
					display: none;
				}
			}
			.logoContainer {
				img {
					width: 40%;
				}
			}
		}
	}
	/* 輪播 */
	.carouselContainer {
		perspective: 1000px;
		display: flex;
		justify-content: center;
		align-items: flex-start;
		margin-top: -20px;
		.carousel {
			display: flex;
			transition: transform 0.5s ease;
			.carouselItem {
				position: relative;
				margin: 0 20px;
				.carouselImg {
					width: 150px;
					height: 150px;
					object-fit: cover;
					border-radius: 8px;
					transition: transform 0.3s ease, opacity 0.3s ease;
					&:hover {
						opacity: 0.7;
						transform: scale(1.1);
					}
				}
				.carouselText {
					position: absolute;
					top: 30%;
					left: 50%;
					transform: translateX(-50%);
					color: $color_1;
					text-align: center;
					text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
					width: 130px;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					letter-spacing: 2px;
					display: flex;
					flex-wrap: wrap;
					text-align: center;
					p {
						width: 100%;
						text-align: center;
						margin: 10px 0;
					}
					@media screen and (max-width: 992px) {
						width: 100%;
						letter-spacing: 1.5px;
					}
					@media screen and (max-width: 850px) {
						width: 100%;
						letter-spacing: 1px;
						font-size: 0.8rem;
					}
				}
			}
		}
	}
	/* 主內容佈局 */
	main {
		height: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 20px;
		margin: 50px 100px;
		letter-spacing: 2px;
		line-height: 30px;
		@media screen and (max-width: 1200px) {
			margin: 50px 50px;
		}
		@media screen and (max-width: 992px) {
			margin: 50px 25px;
		}
		.sectionContainer {
			max-width: 1200px;
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin: 30px;
			.imageContainer {
				position: relative;
				width: 300px;
				height: 300px;
				margin-right: 30px;
				margin-left: 60px;
				.image1 {
					position: absolute;
					width: 200px;
					height: 230px;
					border-radius: 8px;
					object-fit: cover;
					top: -20px;
					left: -20px;
				}
				.image2 {
					position: absolute;
					width: 200px;
					height: 230px;
					border-radius: 8px;
					object-fit: cover;
					bottom: -20px;
					right: -20px;
				}
			}
			.contentContainer {
				flex: 1;
				margin-left: 40px;
				overflow: hidden;
				color: $colorText;
				h2 {
					font-size: 32px;
					margin-bottom: 20px;
				}
				h3 {
					font-size: 1.3rem;
				}
				p {
					margin: 0;
					max-width: 500px;
					overflow: hidden;
					text-overflow: ellipsis;
					display: -webkit-box;
					-webkit-line-clamp: 4;
					-webkit-box-orient: vertical;
					margin-bottom: 20px;
					color: $colorText;
				}
				.businessHourstime {
					display: flex;
					align-items: center;
					margin-bottom: 10px;
					.timeText {
						background-color: $backgroundColorBtnLight;
						border-radius: 30px;
						padding: 5px;
						color: $colorSvg;
						text-align: center;
						font-size: 16px;
						@media screen and (max-width: 1200px) {
							font-size: 0.8rem;
						}
					}
					.timeLine {
						border: 1px solid $backgroundColorBtnLight;
					}
				}
				.timeAndBtn {
					display: flex;
					align-items: center;
					justify-content: space-between;
					@media screen and (max-width: 800px) {
						display: block;
					}
					@media screen and (max-width: 768px) {
						display: flex;
					}
					p {
						font-size: 16px;
						margin: 0;
					}
					.button {
						margin: 15px;
						padding: 10px 35px;
						width: auto;
						background-color: $backgroundColorBtnDark;
						color: $colorSvg;
						font-size: 1.2rem;
						cursor: pointer;
						@media screen and (max-width: 1200px) {
							font-size: 0.8rem;
						}
						@media screen and (max-width: 992px) {
							font-size: 0.7rem;
							margin: 5px;
							padding: 5px 15px;
						}
					}
					.timeText {
						margin-top: 5px;
						margin-left: 0;
						p {
							@media screen and (max-width: 992px) {
								font-size: 0.8rem;
							}
						}
					}
				}
			}
			@media screen and (max-width: 768px) {
				flex-direction: column;
				align-items: center;
				margin: 0 20px;
				.imageContainer{
					margin: 20px 0;
					width: 100%;
					height: auto;
					.image1 {
						position: static;
						width: 100%;
						height: auto;
						margin-bottom: 10px;
					}
					.image2 {
						position: static;
						width: 100%;
						height: auto;
						margin-bottom: 10px;
					}
				}
				.contentContainer{
					margin: auto;
				}
			}
		}
		.sectionContainer:nth-child(even) {
			flex-direction: row-reverse;
			text-align: right;
			justify-content: flex-end;
			p {
				margin-left: auto;
			}
			.businessHourstime {
				display: flex;
				flex-direction: row-reverse;
				justify-content: flex-end;
			}
			.timeAndBtn {
				flex-direction: row-reverse;
				.timeText {
					margin-right: 0;
				}
			}
			@media screen and (max-width: 768px) {
				flex-direction: column;
				align-items: center;
				margin: 0 20px;
				.imageContainer{
					margin: 20px 0;
					width: 100%;
					height: auto;
					.image1 {
						position: static;
						width: 100%;
						height: auto;
						margin-bottom: 10px;
					}
					.image2 {
						position: static;
						width: 100%;
						height: auto;
						margin-bottom: 10px;
					}
				}
			}
		}
	}
	/* 縮小 */
	// @media (max-width: 768px) {
	// 	// .carouselContainer {
	// 	// 	display: none;
	// 	// }
	// 	// .sectionContainer {
	// 	// 	flex-direction: column;
	// 	// 	align-items: center;
	// 	// 	margin: 0 20px;
	// 	// }
	// 	.imageContainer {
	// 		margin: 20px 0;
	// 		width: 100%;
	// 		height: auto;
	// 	}
	// 	.contentContainer {
	// 		margin: 20px 0;
	// 		width: 100%;
	// 		height: auto;
	// 		margin-left: 0;
	// 		text-align: center;
	// 	}
	// 	.image1 {
	// 		position: static;
	// 		width: 100%;
	// 		height: auto;
	// 		margin-bottom: 10px;
	// 	}
	// 	.image2 {
	// 		position: static;
	// 		width: 100%;
	// 		height: auto;
	// 		margin-bottom: 10px;
	// 	}
	// }
	// 手機畫面樣式
	.restPhonePage {
		.phoneImg {
			width: 100vw;
			height: 100vh;
			object-fit: cover;
			filter: brightness(140%);
		}
		.phoneText {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			text-align: center;
			width: 100%;
			h1 {
				font-size: 2.6rem;
				color: $colorSvg;
				margin: 10px;
				font-weight: 500;
			}
			.divOpenTime {
				margin: 20px;
				border: 1px solid $colorSvg;
				border-radius: 20px;
				display: flex;
				justify-content: space-between;
				div {
					padding: 10px;
					color: $colorSvg;
				}
				div:first-child {
					background-color: $colorSvg;
					width: 30%;
					margin-left: 0;
					border-radius: 20px;
					color: black;
				}
			}
			p {
				background-color: rgba(0, 0, 0, 0.46);
				padding: 20px;
				margin: 20px;
				border-radius: 20px;
				letter-spacing: 2.5px;
				line-height: 30px;
			}
			button {
				background-color: $backgroundColorBtnDark;
				padding: 10px;
				font-size: 15px;
				width: 30%;
				color: $colorSvg;
			}
		}
		.swiper-pagination-horizontal {
			top: 80%;
			.swiper-pagination-bullet {
				background-color: $colorSvg;
				width: 10px;
				height: 10px;
				display: inline-block;
			}
			.swiper-pagination-bullet-active {
				background-color: rgba(255, 104, 56, 1);
				width: 15px;
			}
		}
	}
}
