.ShoppingSuccessPage {
	$color_1: white;
	margin-bottom: 100px;
	.successBox {
		margin-top: 50px;
		padding: 40px;
		width: 60%;
		display: flex;
		gap: 30px;
		flex-direction: column;
		align-items: center;
		height: 700px;
		background: linear-gradient(
			270deg,
			rgba(83, 54, 131, 0.53) 0%,
			rgba(49, 125, 165, 0.8) 100%
		);
		border-radius: 24px;
		.big-ticket {
			height: 30%;
		}
		img {
			height: 70%;
		}
		.successTitle {
			font-size: 50px;
		}
		.followUs {
			height: 100px;
			display: flex;
			gap: 40px;
			justify-content: space-between;
			align-items: center;
		}
		.followUsText {
			margin-right: 50px;
			font-size: 20px;
		}
		.btnOrder {
			padding: 20px 40px;
			width: 250px;
			border-radius: 24px;
			font-size: 16px;
			border: none;
			background: linear-gradient(
				270deg,
				rgba(83, 54, 131, 0.53) 0%,
				rgba(49, 125, 165, 0.8) 100%
			);
			color: $color_1;
			cursor: pointer;
			transition: 0.3s;
			&:hover {
				transform: scale(1.1);
			}
		}
		@media (max-width: 1180px) {
			.successTitle {
				font-size: 10px;
			}
			.successBox {
				width: 80%;
			}
			.followUsText {
				display: none;
				font-size: 12px;
			}
		}
	}
}
